@import 'variables.scss';
@import 'common.scss';
@import 'basic.scss';
@import 'business.scss';
@import 'webshop.scss';




* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: $text-col;
}